@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Kết quả đăng ký";
}
<h2>Cảm ơn bạn!</h2>
<p>Cảm ơn bạn <strong>@ViewBag.MSSV</strong> - <strong>@ViewBag.HoTen</strong> đã đăng ký chuyên ngành <strong>@ViewBag.ChuyenNganh</strong>.</p>
<p>Bạn là người đăng ký <strong>thứ @ViewBag.orderNumber</strong> trong chuyên ngành <strong>@ViewBag.ChuyenNganh</strong>.</p>
<p>Số lượng sinh viên đã đăng ký chuyên ngành của bạn là: <strong>@ViewBag.sameMajorCount</strong>.</p>
<a href="/Student/Index" class="btn btn-primary">Quay lại trang đăng ký</a>
